<%- include('includes/head.ejs') %>
</head>

<body>
      <%- include('includes/nav.ejs') %>
      <h1>Some Error Occured!</h1>
      <p>Sorry, we are experiencing some technical difficulties!</p>
      <p>Please try again later.</p>
      <p>Thank you for your patience.</p>
      <p>Sorry for the inconvenience.</p>
      <p>Thank you for your understanding.</p>

<%- include('includes/footer.ejs') %>